.container {
    width: 1385px;
    height: 96px;
    margin-left: 55px;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.line{
    position: absolute;
    width: 473px;
    height: 1px;
    margin-left: 112px;
    background: #FFFFFF;
    opacity: 0.25;
    z-index: 2;
}

.number {
    font-family: 'Barlow Condensed';
    font-weight: 700;
    font-size: 16px;
}

#icon {
    background-color: white;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    animation: rotate 5s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(359deg);
    }
    to {
        transform: rotate(0deg);
    }
}

.top-navigation {
    width: 830px;
    height: 96px;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(8px);
    border: 1px;
    border-color: #979797;
}

a {
    height: 93px;
    margin-left: 48px;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    transition: 100ms ease;
    cursor: pointer;
}

a:first-child {
    margin-left: 123px;
}

.active {
    border-bottom: 3px solid white;
}

a:hover{
    border-bottom: 3px solid rgba(255, 255, 255, 0.5);
}

.hamburger {
    display: block;
    width: 35px;
    cursor: pointer;
    height: 35px;

    appearance: none;
    background: none;
    outline: none;
    border: none;
    display: none;
}

.hamburger .bar, .hamburger:after, .hamburger:before {
	content: '';
	display: block;
	width: 100%;
	height: 5px;
	background-color: #FFF;
	margin: 6px 0px;
	transition: 0.4s;
}

.hamburger.is-active:before {
	transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active:after {
	transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is-active .bar {
	opacity: 0;
}

.mobile-nav {
	position: fixed;
	top: 0;
	left: 100%;
	width: 100%;
	min-height: 100vh;
	display: block;
	z-index: 98;
	background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(8px);
    border: 1px;
    border-color: #979797;
	padding-top: 120px;
	transition: 0.4s;
    display: none;
}

.mobile-nav.is-active {
	left: 0;
}

.mobile-nav a {
	display: block;
	width: 100%;
	max-width: 200px;
	margin: 0 auto 16px;
	text-align: center;
	padding: 12px 16px;
	background: rgba(255, 255, 255, 0.04);
	text-decoration: none;
}

.mobile-nav a:hover {
	background-color: rgba(255, 255, 255, 0.04);
}

@media screen and (max-width: 773px){
    .container {
        width: 729px;
        padding-top: 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .line{
        visibility: hidden;
    }

    .top-navigation {
        width: 450px;
        display: flex;
        justify-content: space-evenly;
    }

    a {
        margin-left: 0px;
    }

    .number{
        display: none;
    }

    .space{
        display: none;
    }

    a:first-child {
        margin-left: 0px;
    }
}

@media screen and (max-width: 380px){
    .container {
        width: 327px;
        height: 40px;
        margin-top: 24px;
        padding-top: 0px;
        margin-left: 24px;
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
    }

    .top-navigation {
        width: 24px;
        height: 21px;
        background: 0;
    }

    #icon {
        background-color: white;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        animation: rotate 5s linear infinite;
    }
    
    a {
        display: none;
    }

    .mobile-nav {
		display: block;
	}

	.hamburger {
		display: block;
	}

}