<div class="container">
    <img src="./assets/shared/logo.svg" alt="logo image">
    <hr class="line">
    <div class="top-navigation">
        <a routerLinkActive="active" class="nav-text" routerLink="/home"><b class="number">00</b>&nbsp;&nbsp;HOME</a>
        <a routerLinkActive="active"class="nav-text" routerLink="/destination"><b class="number">01</b>&nbsp;&nbsp;DESTINATION</a>
        <a routerLinkActive="active"class="nav-text" routerLink="/crew"><b class="number">02</b>&nbsp;&nbsp;CREW</a>
        <a routerLinkActive="active"class="nav-text"  routerLink="/tech"><b class="number">03</b>&nbsp;&nbsp;TECHNOLOGY</a>
    </div>
</div>