<div class="container">
    <img src="./assets/shared/logo.svg" alt="logo image" id="icon">
    <hr class="line">
    <div class="top-navigation">
        <img src="./assets/shared/icon-close.svg" alt="close" id="nav-close">
        <img src="./assets/shared/icon-hamburger.svg" alt="hamburger" id="nav-burger">
        <a routerLinkActive="active" class="nav-text" routerLink="/home"><b class="number">00</b><p class="space">&nbsp;&nbsp;</p>HOME</a>
        <a routerLinkActive="active" class="nav-text" routerLink="/destination"><b class="number">01</b><p class="space">&nbsp;&nbsp;</p>DESTINATION</a>
        <a routerLinkActive="active" class="nav-text" routerLink="/crew"><b class="number">02</b><p class="space">&nbsp;&nbsp;</p>CREW</a>
        <a routerLinkActive="active" class="nav-text"  routerLink="/tech"><b class="number">03</b><p class="space">&nbsp;&nbsp;</p>TECHNOLOGY</a>
    </div>
</div>