<div class="container">
    <app-top-nav></app-top-nav>
    <div class="content">
        <div class="content-header">
            <p class="h5 numbers">02</p>
            <p class="h5">MEET YOUR CREW</p>
        </div>
        <div class="information">
            <div class="info">
                <p class="h4 ">{{crewData[activeIndex].role}}</p>
                <P class="h3 ">{{crewData[activeIndex].name}}</P>
                <p class="alt-text">{{crewData[activeIndex].bio}}</p>
                <div class="crew-navigation">
                    <label for="radio-1" class="nav-btn activ" (click)="changeTemplate(0)"></label>
                    <input type="radio" name="crew" id="radio-1">
                    <label for="radio-2" class="nav-btn" (click)="changeTemplate(1)"></label>
                    <input type="radio" name="crew" id="radio-2">
                    <label for="radio-2" class="nav-btn" (click)="changeTemplate(2)"></label>
                    <input type="radio" name="crew" id="radio-2">
                    <label for="radio-2" class="nav-btn" (click)="changeTemplate(3)"></label>
                    <input type="radio" name="crew" id="radio-2">
                </div>
            </div>
            <div class="img">
                <img [src]="crewData[activeIndex].images.png" alt="image">
            </div>
        </div>
    </div>
</div>
