<div class="container">
    <app-top-nav></app-top-nav>
    <div class="content">
        <div class="content-header">
            <p class="h5 numbers">02</p>
            <p class="h5">MEET YOUR CREW</p>
        </div>
        <div class="information">
            <div class="info">
                <p class="h4 ">COMMANDER</p>
                <P class="h3 ">DOUGLAS HURLEY</P>
                <p class="alt-text">Douglas Gerald Hurley is an American engineer, former Marin Corps pilot and former NASA astronaut. He launched into space for the third time as a commander of Crew Dragon Demo-2.</p>
                <div class="crew-navigation">
                    <label for="radio-1" class="nav-btn active"></label>
                    <input type="radio" name="crew" id="radio-1">
                    <label for="radio-2" class="nav-btn"></label>
                    <input type="radio" name="crew" id="radio-2">
                    <label for="radio-2" class="nav-btn"></label>
                    <input type="radio" name="crew" id="radio-2">
                    <label for="radio-2" class="nav-btn"></label>
                    <input type="radio" name="crew" id="radio-2">
                </div>
            </div>
            <div class="img">
                <img src="./assets/crew/image-douglas-hurley.png">
            </div>
        </div>
    </div>
</div>
