.container {
    width: 1440px;
    height: 900px;
    overflow: hidden;
    background-image: url(../../assets/crew/background-crew-desktop.jpg);
}

.content-header{
    width: 286px;
    height: 34px;
    display: inline-flex;
    margin-top: 76px;
    margin-left: 166.5px;
    justify-content: space-between;
}

.numbers {
    opacity: 0.25;
}

p{
    padding: 0px;
    margin: 0px;
}

.h4 {
    opacity: 0.5;
    text-transform: uppercase;
}

.h3 {
    margin-top: 15px;
    margin-bottom: 27px;
    text-transform: uppercase;
}

.alt-text {
    width: 444px;
    line-height: 32px;
    color: #D0D6F9;
}

.information {
    height: auto;
    margin-left: 166.5px;
    display: flex;
}

.info {
    width: 614px;
    height: 406px;
    margin-top: 154px;
    margin-right: 15px;
}

.crew-navigation {
    width: 132px;
    height: 15px;
    margin-top: 120px;
    display: inline-flex;
    justify-content: space-between;
}

input {
    display: none;
}

.nav-btn {
    width: 15px;
    height: 15px;
    background: rgba(255,255,255,0.17);
    border-radius: 50%;
    cursor: pointer;
    transition: 1s;
}

.nav-btn.activ {
    background: rgba(255,255,255,1.0);
}

.nav-btn:hover {
    background: rgba(255,255,255,0.5);
    cursor: pointer;
    transition: 1s;
}

@media screen and (max-width: 773px) {
    .container {
        width: 768px;
        height: 1024px;
        background: url(../../assets/crew/background-crew-tablet.jpg) no-repeat center center fixed;
        background-size: cover;
    }

    .content-header{
        width: 204px;
        height: 24px;
        display: inline-flex;
        margin-top: 40px;
        margin-left: 39px;
        justify-content: space-between;
    }

    .information {
        width: 592px;
        margin-top: 60px;
        margin-left: 88px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .h4 {
        font-size: 24px;
        line-height: 28px;
    }

    .h3 {
        margin-top: 8px;
        margin-bottom: 16px;
        font-size: 40px;
        line-height: 46px;
    }

    .crew-navigation {
        width: 88px;
        height: 10px;
        margin-top: 40px;
        display: inline-flex;
        justify-content: space-between;
    }

    .nav-btn{
        height: 10px;
        width: 10px;
    }

    img {
        margin-top: 40px;
    }

    .alt-text {
        width: 592px;
        font-size: 16px;
        line-height: 28px;
    }

    .info {
        width: 592px;
        height: auto;
        margin: 0px;
        text-align: center;
    }

    .h5 {
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 3.375px;
    }
}

@media screen and (max-width: 380px) {
    .container {
        width: 375px;
        height: 710px;
        background: url(../../assets/crew/background-crew-mobile.jpg) no-repeat center center fixed;
        background-size: cover;
    }

    .content-header{
        width: 166px;
        height: 19px;
        display: inline-flex;
        margin-top: 24px;
        margin-left: 105px;
        justify-content: space-between;
    }

    .information {
        width: 327px;
        margin-top: 32px;
        margin-left: 24px;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .h4 {
        margin-top: 32px;
        font-size: 16px;
        line-height: 18px;
    }

    .h3 {
        margin-top: 8px;
        margin-bottom: 16px;
        font-size: 24px;
        line-height: 28px;
    }

    .crew-navigation {
        width: 88px;
        height: 10px;
        margin-top: 32px;
        display: inline-flex;
        justify-content: space-between;
        order: -1;
    }

    .nav-btn{
        height: 10px;
        width: 10px;
    }

    .img {
        width: 327px;
        height: 223px;
        text-align: center;
        border-bottom: 1px solid #383B4B;
    }

    img {
        margin: 0px;
        max-height: 100%;
    }

    .alt-text {
        width: 327px;
        font-size: 15px;
        line-height: 25px;
    }

    .info {
        width: 327px;
        height: auto;
        margin: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .h5 {
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 2.7px;
    }
}