<div class="container">
    <app-top-nav></app-top-nav>
    <div class="content">
        <div class="content-header">
            <p class="h5 numbers">01</p>
            <p class="h5">PICK YOUR DESTINATION</p>
        </div>
        <div class="info-container">
            <div class="img">
                <img [src]="destinationData[activeIndex].images.png" alt="image" id="dest-image">
            </div>
            <div class="information">
                <div class="destination-nav">
                    <a class="nav-text btn activ" (click)="changeTemplate(0)">MOON</a>
                    <a class="nav-text btn" (click)="changeTemplate(1)">MARS</a>
                    <a class="nav-text btn" (click)="changeTemplate(2)">EUROPA</a>
                    <a class="nav-text btn" (click)="changeTemplate(3)">TITAN</a>
                </div>
                <p class="h2 destination-title">{{destinationData[activeIndex].name}}</p>
                <p class="alt-text">{{destinationData[activeIndex].description}}</p>
                <hr class="line">
                <div class="travel">
                    <div class="travel-info">
                        <p class="sh2">AVG. DISTANCE</p>
                        <p class="sh1">{{destinationData[activeIndex].distance}}</p>
                    </div>
                    <div class="travel-info">
                        <p class="sh2">EST. TRAVEL TIME</p>
                        <p class="sh1">{{destinationData[activeIndex].travel}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div>