<div class="container">
    <app-top-nav></app-top-nav>
    <div class="content">
        <div class="content-header">
            <p class="h5 numbers">01</p>
            <p class="h5">PICK YOUR DESTINATION</p>
        </div>
        <div class="info-container">
            <div class="img">
                <img src="./assets/destination/image-moon.png" alt="moon">
            </div>
            <div class="information">
                <div class="destination-nav">
                    <a class="nav-text" id="active" >MOON</a>
                    <a class="nav-text">MARS</a>
                    <a class="nav-text">EUROPA</a>
                    <a class="nav-text">TITAN</a>
                </div>
                <p class="h2 destination-title">MOON</p>
                <p class="alt-text">See our planet as you've never seen it before. A perfect relaxing trip away to help regain perspective and come back refreshed. While you're there, take in some history by visiting the Luna 2 and Apollo 11 landing sites.</p>
                <hr class="line">
                <div class="travel">
                    <div class="travel-info">
                        <p class="sh2">AVG. DISTANCE</p>
                        <p class="sh1">383,000 KM</p>
                    </div>
                    <div class="travel-info">
                        <p class="sh2">EST. TRAVEL TIME</p>
                        <p class="sh1">3 DAYS</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div>