<div class="container">
    <app-top-nav></app-top-nav>
    <div class="content">
        <div class="content-header">
            <p class="h5 numbers">03</p>
            <p class="h5">SPACE LAUNCH 101</p>
        </div>
        <div class="info-container">
            <div class="tech-navigation">
                <button type="button" class="btn h4 activ" (click)="changeTemplate(0)">1</button>
                <button type="button" class="btn h4" (click)="changeTemplate(1)">2</button>
                <button type="button" class="btn h4" (click)="changeTemplate(2)">3</button>
            </div>
            <div class="info">
                <p class="nav-text">THE TERMINOLOGY...</p>
                <p class="h3">{{technologyData[activeIndex].name}}</p>
                <p class="alt-text">{{technologyData[activeIndex].description}}</p>
            </div>
            <div class="img">
                <img [src]="technologyData[activeIndex].images.portrait" alt="image">
            </div>
        </div>
    </div>
</div>
