<div class="container">
    <app-top-nav></app-top-nav>
    <div class="content">
        <div class="content-header">
            <p class="h5 numbers">03</p>
            <p class="h5">SPACE LAUNCH 101</p>
        </div>
        <div class="info-container">
            <div class="tech-navigation">
                <button type="button" class="tech h4" id="active" >1</button>
                <button type="button" class="tech h4">2</button>
                <button type="button" class="tech h4">3</button>
            </div>
            <div class="info">
                <p class="nav-text">THE TERMINOLOGY...</p>
                <p class="h3">LAUNCH VEHICLE</p>
                <p class="alt-text">A launch vehicle or carrier rocket is a rocket-propelled vehicle used to carry a payload from Earth's surface to space, usually to Earth orbit or beyond. Our WEB-X carrier rocket is the most powerful in operation. Standing 150 meters tall, it's quite an awe-spiring sight on the launch pad!</p>
            </div>
            <div class="img">
                <img src="./assets/technology/image-launch-vehicle-portrait.jpg">
            </div>
        </div>
    </div>
</div>
